/*::ng-deep .editButton{*/
/deep/ td .ui-button {
    height: 28px !important;
    min-width: 50% !important;
}

label.required:after {
    content: " *";
    color: red;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}

::ng-deep .filter-dropdown-pos{
    margin-left: -45px;
}
