<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left:-5px">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Data Providers Assign</h3>
  </div>
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">
      <label class="control-label">Filter</label>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 filter-dropdown-pos">
      <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedFilter = $event' [selectedItem]='selectedFilter'></app-dropdown>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 align-right">
      <app-button label='Add New' (click)="addNew()" styleClass='button-action'></app-button>
    </div>
  </div>
</div>
<br>
<div>
  <p-table #scr [columns]="colHeaders" [value]="sales" [responsive]="true" [paginator]="true" [rows]="selectedRows" [alwaysShowPaginator]="false"
    [exportFilename]="this.exportFileName" [loading]="loading" [resizableColumns]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="text-center" *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
        </th>
      </tr>
      <tr *ngIf="filterable && sales && sales.length > 0">
        <th *ngFor="let col of columns" [style.width]="col.width">

          <input pInputText type="text" placeholder="Filter" (input)="scr.filter($event.target.value, col.field, col.filterMatchMode)">

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td class="text-center">{{car.code}}</td>
        <td class="text-center">{{car.description}}</td>
        <td class="text-center">{{car.dailyTradeReconFlag}}</td>
        <td class="text-center">{{car.tradeReconFlag}}</td>
        <td class="text-center">{{car.monthlyRollFwdFlag}}</td>
        <td class="text-center">{{car.tradeFailThresholdPercent}}</td>
        <td class="text-center">{{car.posFailThresholdPercent}}</td>
        <td class="text-center">{{car.tradeFailThresholdShares}}</td>
        <td class="text-center">{{car.posFailThresholdShares}}</td>
        <td class="text-center">{{car.description}}</td>
        <td class="text-center">{{car.dailyTradeReconFlag}}</td>
        <td class="text-center">{{car.tradeReconFlag}}</td>
        <td class="text-center">{{car.monthlyRollFwdFlag}}</td>
        <td class="text-center">{{car.tradeFailThresholdPercent}}</td>
        <td class="text-center">{{car.posFailThresholdPercent}}</td>
        <td class="text-center">{{car.tradeFailThresholdShares}}</td>
        <td class="text-center">{{car.posFailThresholdShares}}</td>
        <td class="text-center">{{car.activeFlag}}</td>
        <!--<td class="text-center"><button>Edit</button></td>-->
        <td class="text-center">
          <!--<app-button class="editButton" label='Modify' (click)="editDataProvider()" styleClass='button-action'></app-button>-->
          <a class="hyperlink displaycolor" (click)="editDataProvider()">Modify</a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
      <app-dropdown [datasource]='displayRows' (selectedItemChange)='checkAndEnablePage($event)' [selectedItem]='selectedRows'></app-dropdown>
    </ng-template>
  </p-table>
</div>
<div *ngIf="!isPaginator">
  <app-dropdown [datasource]='displayRows' (selectedItemChange)='checkAndEnablePage($event)' [selectedItem]='selectedRows'></app-dropdown>
</div>