<div class="panel panel-default" style="margin-left:-3px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">Filter TA Master Trade</h3>
  </div>
  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Data Provider</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.dataProvider = $event' [selectedItem]='dataProvider'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Reported Flag</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reportedFlag = $event' [selectedItem]='reportedFlag'></app-dropdown>
            </div>
          </div>
        </div>

        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Batch Id</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.batchId = $event' #inputbatchId [value]='batchId' maxlength="60"></app-input>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">TA Post Date</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <!--<app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedTitle = $event' [selectedItem]='selectedTitle'></app-dropdown>-->
              <app-calender id="calender" class="calWidth" (calenderSelected)='this.taPostDate = $event' showIcon='true' yearNavigator='true'
                monthNavigator='true' yearRange='2000:2030' [inputDate]='taPostDate'></app-calender>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Fund / Product Code</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.productCode = $event' [selectedItem]='productCode'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Serial Id</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.serialId = $event' #inputserialId [value]='serialId' maxlength="60"></app-input>
            </div>
          </div>
        </div>


      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Trade Type Code</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.tradeType = $event' #inputtradeType [value]='tradeType' maxlength="60"></app-input>
            </div>
          </div>
        </div>

        <div>
          <div class="row paddingTopClass dishide">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Fund</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">

              <p-radioButton name="group1" value="fund" label="Fund" (click)="checkRadio('fund')"></p-radioButton>
              <p-radioButton name="group1" value="productCode" label="Product Code" (click)="checkRadio('productCode')"></p-radioButton>

            </div>
          </div>
        </div>
        <div>
          <div class="row paddingTopClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Clear Firm Code</label>
            </div>
          </div>
          <div class="row paddingDataClass">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.clearFirmCode = $event' #inputclearFirmCode [value]='clearFirmCode' maxlength="60"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-button (click)="resetAll()" label="Reset" styleClass='button-action'></app-button>
      <app-button (click)="saveData()" label="Go" styleClass='button-action'></app-button>
    </div>
  </div>
</div>