<div class="text-center" *ngIf="formType == 'add'">
  <h4>Add Data Provider Assign</h4>
</div>
<div class="text-center" *ngIf="formType == 'edit'">
  <h4>Edit Sales Recon Data Providers Assign</h4>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Data Provider Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.dataProviderCode=$event' #inputdataProviderCode [value]='dataProviderCode' maxlength="60"></app-input>
        </div>
      </div>
    </div>
      <div>
      <div class="row paddingTopClass dishide">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Fund</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12 radioMargin">

          <p-radioButton name="group1" value="Daily Trade Recon Flag" label="Daily Trade Recon Flag" (click)="checkRadio('Daily Trade Recon Flag')"></p-radioButton>
          <p-radioButton name="group1" value="Position Recon Flag" label="Position Recon Flag" (click)="checkRadio('Position Recon Flag')"></p-radioButton>

        </div>
      </div>
    </div>
        <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Calendar Type</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.calendarType = $event' [selectedItem]='calendarType'></app-dropdown>
        </div>
      </div>
    </div>
      <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Fail Threshold Shares</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.tradeFailThresholdShares=$event' #inputtradeFailThresholdShares [value]='tradeFailThresholdShares' maxlength="60"></app-input>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-4">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Data Provider Description</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.dataProviderDescription=$event' #inputdataProviderDescription [value]='dataProviderDescription' maxlength="60"></app-input>
        </div>
      </div>
    </div>
        <div>
      <div class="row paddingTopClass dishide">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Fund</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12 radioMargin">

          <p-radioButton name="group1" value="Monthly Roll Forward Flag" label="Monthly Roll Forward Flag" (click)="checkRadio('Monthly Roll Forward Flag')"></p-radioButton>
          <p-radioButton name="group1" value="Compare Diff Net Flag" label="Compare Diff Net Flag" (click)="checkRadio('Compare Diff Net Flag')"></p-radioButton>

        </div>
      </div>
    </div>  
      <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Pos Fail Threshold Percent</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.posFailThresholdPercent = $event' #inputposFailThresholdPercent [value]='posFailThresholdPercent' maxlength="60"></app-input>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Pos Fail Threshold Shares</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.posFailThresholdShares = $event' #inputposFailThresholdShares [value]='posFailThresholdShares' maxlength="60"></app-input>
        </div>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Recon Level</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>
      
      <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Recon Type</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.tradeReconType = $event' [selectedItem]='tradeReconType'></app-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Fail Threshold Percent</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.tradeFailThresholdPercent=$event' #inputtradeFailThresholdPercent [value]='tradeFailThresholdPercent' maxlength="60"></app-input>
        </div>
      </div>
    </div>

        <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Active Status</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="text-center">
  <app-button (click)="resetAll()" label="Reset" styleClass='button-action'></app-button>
  <app-button (click)="saveData()" [disabled]='disable()' label="Save" styleClass='button-action'></app-button>
</div>
