<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left:-8px">
    <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
  </div>
</div>
<div class="panel-heading section-padding">
  <h3 class="panel-title" style="font-size: 24px">{{header}}</h3>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Assign Sequence</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.dataProviderCode=$event' #inputdataProviderCode [value]='dataProviderCode' maxlength="60"></app-input>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Clear Rep Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.tradeFailThresholdShares=$event' #inputtradeFailThresholdShares [value]='tradeFailThresholdShares'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Business Domain</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>
        <div>
      <div class="row paddingTopClass dishide">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Fund</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12 radioMargin">

          <p-checkbox name="group1" value="checked" label="Trade Flag" inputId="on"></p-checkbox>
          <p-checkbox name="group1" value="checked" label="Position Flag" inputId="on"></p-checkbox>
          <!--<p-radioButton name="group1" value="Trade Flag" label="Trade Flag" (click)="checkRadio('Trade Flag')"></p-radioButton>
          <p-radioButton name="group1" value="Position Flag" label="Position Flag" (click)="checkRadio('Position Flag')"></p-radioButton>-->
          <!--<p-checkbox name="group1" value="Trade Flag" label="Trade Flag" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>-->
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass dishide">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Fund</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">

          <!--<p-radioButton name="group1" value="Position Flag" label="TA Omnibus Account Flag" (click)="checkRadio('Position Flag')"></p-radioButton>-->
          <p-checkbox name="group1" value="checked" label="TA Omnibus Account Flag" inputId="on"></p-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Data Provider</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Clear Firm Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.posFailThresholdPercent = $event' #inputposFailThresholdPercent [value]='posFailThresholdPercent'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Fund Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Account Number Prefix</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.posFailThresholdShares = $event' #inputposFailThresholdShares [value]='posFailThresholdShares'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Active Status</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Clear Branch Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.tradeFailThresholdPercent=$event' #inputtradeFailThresholdPercent [value]='tradeFailThresholdPercent'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Product Line Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.reconLevel = $event' [selectedItem]='reconLevel'></app-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Social Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Cumulative Discount Num</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trans Code Prefix</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Type Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Flow Type Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.activeStatus = $event' [selectedItem]='activeStatus'></app-dropdown>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="addCheckListButtons">
  <div class="col-sm-8 col-md-8 col-lg-8">
  <app-button (click)="saveData()" [disabled]='disable()' label="Save" styleClass='button-action'></app-button>
  <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
  </div>
</div>