<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left:-8px">
    <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
  </div>
</div>
<div class="panel-heading section-padding">
  <h3 class="panel-title" style="font-size: 24px">{{header}}</h3>
</div>
<!--<div class="text-center" *ngIf="formType == 'add'">
  <h4>Add SRS Timing Factor</h4>
</div>
<div class="text-center" *ngIf="formType == 'edit'">
  <h4>Edit SRS Timing Factor</h4>
</div>-->
<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Data Provider</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.dataProvider = $event' [selectedItem]='dataProvider'></app-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Type Code</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12 radioMargin">
          <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.tradeTypeCode = $event' [selectedItem]='tradeTypeCode'></app-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3">

 
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Trade Post Timing Factor</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.tradePostTimingFactor = $event' #inputtradePostTimingFactor [value]='tradePostTimingFactor'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>
    <div>
      <div class="row paddingTopClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label class="control-label">Pos Settle Timing Factor</label>
        </div>
      </div>
      <div class="row paddingDataClass">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-input (inputTextSelected)='this.posSettleTimingFactor = $event' #inputposSettleTimingFactor [value]='posSettleTimingFactor'
            maxlength="60"></app-input>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="addCheckListButtons">
   <div class="col-sm-8 col-md-8 col-lg-8">
  <app-button (click)="saveData()" [disabled]='disable()' label="Save" styleClass='button-action'></app-button>
  <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
   </div>
</div>